@import "../core/variables.scss";
@import "../core/mixins.scss";
@import "../core/reset.scss";

.pokemons {
  display: grid;
  row-gap: 20px;
  justify-items: center;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
  }
}
