// fonts

$fontTitle: "Oswald", sans-serif;
$fontMain: "PT Sans", sans-serif;

// colors

$colorBorder: #a9a9a9;
$colorBgrGrass: #c2e87d;
$colorBgrFire: #ffdc00;
$colorBgrWater: #76d6ff;
$colorBgrDefault: #f7b5cb;
